[Unit]
Description=Start Psplash Boot Screen
Wants=dev-fb0.device
After=dev-fb0.device
DefaultDependencies=no
Before=basic.target
RequiresMountsFor=/run

[Service]
ExecStart=/usr/bin/psplash -n -f 0 --angle 270

[Install]
WantedBy=sysinit.target
