[Unit]
Description=Remove USB memory limit

[Service]
ExecStart=/bin/bash -c "echo 0 > /sys/module/usbcore/parameters/usbfs_memory_mb"

[Install]
WantedBy=multi-user.target
